<mat-toolbar>
   <span>Registration</span>
</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
      <mat-card-content>
         <form class="my-form" [formGroup]="registerForm">
            <mat-form-field class="full-width">
               <mat-label>Username</mat-label>
               <input matInput placeholder="Username" formControlName="username" name="username">
               <mat-error *ngIf="registerForm.controls['username'].errors">{{getErrorUsername()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
               <mat-label>Email</mat-label>
               <input matInput  placeholder="Email" formControlName="email" name="email">
               <mat-error *ngIf="registerForm.controls['email'].errors">邮箱格式错误</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
               <mat-label>Password</mat-label>
               <input matInput placeholder="Password" formControlName="password" name="password">
               <mat-error *ngIf="registerForm.controls['password'].errors">{{getErrorPassword()}}</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width" hideRequiredMarker>
               <mat-label>确认密码</mat-label>
               <input matInput placeholder="确认密码" formControlName="passwordCheck" name="passwordCheck">
               <mat-error *ngIf="registerForm.controls['passwordCheck'].errors">{{getErrorPasswordCheck()}}</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="register()">REGISTER</button>
         </form>
         </mat-card-content>
   </mat-card-content>
</mat-card>
