<div id="three">

</div>
<!-- <div id="message">
    <p id="message_text"></p>
    <button id="message_ok">OK</button>
</div>
<div id="chat">
    <form id="msg-form" action="">
          <input id="m" autocomplete="off" /><button>Send</button>
    </form>
</div> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/92/three.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../../assets/libs/inflate.min.js"></script>
<script src="../../assets/libs/FBXLoader.js"></script>
<script src="../../assets/libs/Detector.js"></script>
<script src="../../assets/libs/toon3d.js"></script> -->
<!-- <script src="../../assets/js/game.js"></script> -->
<!-- <script>
    conosle.log(1)
    // document.addEventListener("DOMContentLoaded", function(){
    //     const game = new Game();
    // });
</script> -->

