<mat-toolbar>
    <span>Login</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <mat-card-content>
            <form class="my-form" [formGroup]="loginForm">
               <mat-form-field class="full-width" hideRequiredMarker>
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="Username" formControlName="username" name="username">

                  <mat-error *ngIf="loginForm.controls['username'].errors?.['required']">
                     Please enter username
                  </mat-error>
               </mat-form-field>
               <mat-form-field class="full-width" hideRequiredMarker>
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" type="password" formControlName="password" name="password">
                  
                  <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">
                     Please enter password
                  </mat-error>
               </mat-form-field>
               <button mat-raised-button (click)="login()" color="primary" type="submit">Login</button>
            </form>
          </mat-card-content>
     </mat-card-content>
  </mat-card>
