<p class="title">请选择你的英雄</p>
<div class="character-select">
    <mat-card 
        *ngFor="let character of characters;let i = index;" 
        (click)="onSelect(i)"
        [ngClass]="{'character-card':true, 'character-selected':character.selected}">

        <mat-card-header>
            {{ character.name }}
        </mat-card-header>
      
        <mat-card-content>
            <div [attr.id]="'scene-container-'+i" class="scene-containers">
                <!-- <canvas> will be inserted here -->
            </div>
            <!-- <img src> -->
        </mat-card-content>
    </mat-card>
    <!-- <div id="scene-container"> -->
        <!-- Our <canvas> will be inserted here -->
    <!-- </div> -->
</div>