.title {
    font-size: 30px;
    height: 50px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
.map-title {
    margin-top: 50px;
}
.character-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1200px;
}
.map-select {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.character-selected {
   /* z-index: 20px; */
   top: -10px;
   box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, .2);
}

.character-card {
    width: 300px;
    margin: 20px;
}
.map-card {
    width: 500px;
    margin: 20px;
}
.content {
    margin: 20px auto 32px !important;
}

.scene-containers {
    height: 400px;
    width: 270px;
}
#scene-container {
    height: 400px;
    width: 300px;
}
.div-button {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.link-button {
    margin: auto;
    font-size: 30px;
    height: 60px;
}