<p class="title">请选择你的英雄</p>
<div class="character-select">
    <mat-card 
        *ngFor="let character of characters;let i = index;" 
        (click)="onSelect(i)"
        [ngClass]="{'character-card':true, 'character-selected':character.selected}">

        <mat-card-header>
            <mat-card-title>
                {{ character.name }}
            </mat-card-title>
        </mat-card-header>
      
        <mat-card-content>
            <div [attr.id]="'scene-container-'+i" class="scene-containers">
                <!-- <canvas> will be inserted here -->
            </div>
            <!-- <img src> -->
        </mat-card-content>
    </mat-card>
    <!-- <div id="scene-container"> -->
        <!-- Our <canvas> will be inserted here -->
    <!-- </div> -->
</div>
<p class="title map-title">选择地图</p>
<div class="map-select">
    <mat-card 
        *ngFor="let map of maps;let i = index;" 
        (click)="onSelectMap(i)"
        [ngClass]="{'map-card':true, 'character-selected':map.selected}">

        <mat-card-header>
            <mat-card-title>
                {{ map.name }}
            </mat-card-title>
        </mat-card-header>
        <img src="../../assets/images/maps/cqb.jpg">
        <mat-card-content>
            <!-- <img src> -->
        </mat-card-content>
    </mat-card>
</div>
